{% if include.speaker.site %}
<a href="{{ include.speaker.site }}" class="btn btn-simple btn-just-icon" target="_blank"><i class="fa fa-globe"></i></a>
{% endif %}

{% if include.speaker.linkedin %}
<a href="{{ include.speaker.linkedin }}" class="btn btn-simple btn-just-icon" target="_blank"><i class="fa fa-linkedin-square "></i></a>
{% endif %}

{% if include.speaker.twitter %}
<a href="{{ include.speaker.twitter }}" class="btn btn-simple btn-just-icon" target="_blank"><i class="fa fa-twitter"></i></a>
{% endif %}

{% if include.speaker.facebook %}
<a href="{{ include.speaker.facebook }}" class="btn btn-simple btn-just-icon btn-default" target="_blank"><i class="fa fa-facebook-square"></i></a>
{% endif %}


