.team .team-player .title {
    margin: 15px auto;
}

.team-player {
    margin-bottom: 25px;
}

.team-player .description {
     text-align: left;
 }

.description {
    font-size: 16px;
}

.section {
    padding: 0 0 70px 0;
}

.social-icons a {
    padding: 0 !important;
    margin: 0 !important;
}

.reg-button {
    font-size: 22px !important;
}

.reg-button i.fa{
    position: static !important;
}
